<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!--<img src="/images/<%=item.imgpath%>" alt="">-->
    <p class="details">Name <%=item.name%></p>
    <p class="details">Price <%=item.price%></p>
    <p class="details">Width <%=item.width%></p>
    <p class="details">Length <%=item.length%></p>
    <p class="details">Height <%=item.height%></p>
    <p class="details">Colors <%=item.colors%></p>
    <p class="details">Rating <%=item.rating%></p>
    <p class="details">Reviews<%=item.reviews%></p>
    <p class="details">Power <%=item.power%></p>
  </body>
</html>
