<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Lens</title>
  </head>
  <body>
    <div>
      <!--<img src="/images/<%=item.imgpath%>" alt="">-->
    <p class="details">Name <%=item.name%> </p>
    <p class="details">Price <%=item.price%></p>
    <p class="details">Diameter <%=item.diameter%></p>
    <p class="details">Base curve <%=basecurve%></p>
    <p class="details">Color <%=item.color%></p>
    <p class="details">Rating <%=item.rating%></p>
    <p class="details">Reviews <%=item.reviews%></p>
    <p class="details">Power <%=item.power%></p>
  </div>
  </body>
</html>
